.node{
  height:35px;
  width:35px;
  background-color:grey;
  border-radius:100%;
}
.node1{
  height:28px;
  width:300px;
  margin-left:20px;  
  font-size:1rem;
}
.line{
  height:50px;
  width:4px;
  margin-left:15px;
  background-color:grey;
}